body {
  box-sizing: border-box !important;
  width: 600px !important;
  height: 600px !important;
  border: none !important;
  margin: 60px auto !important;
  box-shadow: 10px 10px 19px -11px rgba(0, 0, 0, 0.75) !important;
  border-radius: 10px !important;
  padding: 40px 60px !important;
}

h1 {
  color: crimson !important;
}

#city-input,
#weather-output {
  max-width: 400px;
  margin: 0 auto;
}
